{% extends 'base.html' %}
{% block content %}
        <script src="{{ url_for('static', filename='./scripts/message.js') }}" type="text/javascript"></script>

        <!-- For Chatting area-->
        <div class="container-fluid page-container">
            <div class="row chatting-page-container">
                <div class="col-md-3 chatting-detail-area">
                    <div class="row chatting-header">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <h4>Chatting</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row new-messages-show">
                        <div class="col" id="messages-show">
                            <div class="row messages" id="message-1">
                                <i class="fas fa-user user-face"></i>
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            Username
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            Message
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row messages" id="message-2">
                                <i class="fas fa-user user-face"></i>
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            Username
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            Message
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 chatting-message-section" id="showing-chatting-area">
                    <div class="row chatting-to-user">
                        <div class="col d-flex align-items-center">
                            <i class="fas fa-user user-face" id="user-face-showing"></i>
                            <span id="username-chatting"></span>
                        </div>
                    </div>
                    <div class="row chat-area align-items-end">
                            <div class="col" id="messages">
                                
                        </div>
                    </div>
                    <form class="row texting-area" id="message_input_form">
                        <div class="col align-items-center input-group">
                            <input type="text" class="form-control" id="message_input" placeholder="Type A Message" autocomplete="off" aria-label="Type A Message" aria-describedby="message-send">
                            <div class="input-group-append ">
                                <button class="btn btn-outline-secondary" type="button" id="message-send"><i class="fas fa-paper-plane message-send-icon"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 texting-details-send" id="details-for-texting">
                </div>
            </div>
        </div>
        <script>
            var data = `{{ data|safe }}`;      
            if(data !== ""){
                data_data = data.replaceAll(/\[|\]/g,"").replaceAll(/}, {/g, "} , {").split(' , ');
                actual_data = [];
                for(var i = 0; i<data_data.length; i++){
                    each_detail = data_data[i].replaceAll(/}|{/g,"").split(", ");
                    single_ads = [];
                    for(var j = 0; j<each_detail.length;j++){
                        single_values = each_detail[j].replaceAll(/'/g,"").split(": ");
                        single_ads[single_values[0].replaceAll(/"/g,"")] = single_values[1].replaceAll(/"/g,"");
                    }
                    actual_data.push(single_ads);
                }
            }

            currentUser = "{{ session['username'] }}";

            var displayChat = "{{ displayChat }}";
            displayChat = (displayChat==="True");
            
            roomId = `{{ getRoomId|safe }}`;
            if(roomId !== ""){
                room_id = roomId.replaceAll(/\[|\]/g,"").replaceAll(/}, {/g, "} , {").split(' , ');
                roomId = [];
                for(var i = 0; i<room_id.length; i++){
                    single_id = room_id[i].replaceAll(/}|{/g,"").split(", ");
                    single_id_collection = [];
                    for(var j =0; j<single_id.length;j++){
                        single_id_values = single_id[j].replaceAll(/'/g,"").split(": ");
                        single_id_collection[single_id_values[0].replaceAll(/"/g,"")] = single_id_values[1].replaceAll(/"/g,"");
                    }
                    roomId.push(single_id_collection);
                }
            }
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
{% endblock %}