{% extends 'base.html' %}
{% block content %}
<script src="{{ url_for('static', filename='./scripts/index.js') }}" type="text/javascript"></script>
<!-- For Hero Image and searching part -->
        <div class="container-fluid cover-image">
			<div class="hero-text">
				<form class="location-searching" method="POST">
					<div class="row form-group">
						<div class="col">
							<label for="EnterLocation">
                                <h4>
                                    Search For place to rent:
                                </h4>
                            </label>
							<div class="input-group">
								<input type="text" class="form-control" name="EnterLocation" id="EnterLocation" placeholder="Enter The Location" aria-label="Enter The Location" aria-describedby="button-addon2">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
								</div>
							</div>
						</div>
					</div>
				</form>   
			</div>
		</div>
        <!-- For frontpage advertisement part -->
		<div class = "container-fluid for-advertisement">
            <div class="row align-items-start">
                <div class="col">
                    <h4 class="advertisement-topic">In Major Cities</h4>
                </div>
            </div>
            <div class="row advertisment-container aligning-center" id = "major-cities-loading">
                
            </div>
        </div>
        <div class = "container-fluid for-advertisement">
            <div class="row align-items-end">
                <div class="col">
                    <h4 class="advertisement-topic">Newly added</h4>
                </div>
            </div>
            <div class="row advertisment-container aligning-center" id ="new-cities-loading">
                
            </div>
		</div>
		<!-- Details -->
		<div class="container-fluid simple-details">
            <div class="row item-three">
                {% if not session['username'] and not session['password'] %}
                <div class="col align-items-start justify-content-center">
                    <i class="fas feature-icons fa-user-friends"></i>
                </div>
                {% endif %}
                <div class="col">
                    <i class="fas feature-icons fa-home"></i>
                </div>
                <div class="col">
                    <i class="fas feature-icons fa-ad"></i>
                </div>
            </div>
            <div class="row item-three">
                {% if not session['username'] and not session['password'] %}
                <div class="col align-items-center">
                    Connect with homeowner and communicate with them through the in built chat feature
                </div>
                {% endif %}
                <div class="col">
                    Check all of the available rooms for rent and choose your prefered one
                </div>
                <div class="col">
                    Put your room for rent.
                </div>
            </div>
            <div class="row item-three">
                {% if not session['username'] and not session['password'] %}
                <div class="col align-items-end">
                    <button type="button" class="btn btn-primary">Sign Up</button>
                </div>
                {% endif %}
                <div class="col">
                    <button type="button" class="btn btn-primary">Search For Rooms</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary">Advertisement</button>
                </div>
            </div>
        </div>
         <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="color: black">
                            <p id="someRandomText"></p>
                        </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class = "row">
                                <div class = "col-md-9">
                                    <div class="row inner-row">
                                        <div class="col" id="Showing-images-full">
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="location-show">
                                                <span class="detail-heading">Location: </span> <span class="details-property" id="property-location">Chamati, Kathmandu</span>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="price-show">
                                                <span class="detail-heading">Price: </span> <span class="details-property" id="property-price">Rs. 20000</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row">
                                        <div class="col">
                                            <span class="detail-heading">Room Count: </span><span class="details-property" id="room-count">2</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <span class="detail-heading">Water Source: </span> <span class="details-property" id="water-source">Well</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <span class="detail-heading">Bathroom: </span> <span class="details-property" id="bathroom">Attached</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <span class="detail-heading">Terrace Access: </span> <span class="details-property" id="terraceAccess">Given</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <span class="detail-heading">Details: </span> <span class="details-property" id="details">Elit cupidatat enim aute officia.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="modal-footer" method="POST">
                        <input type="hidden" name="owner" id="owner"> 
                        <button type="submit" class="btn btn-primary mr-auto">Chat Now</button>
                        <div class="owner-show">
                            <b>Owner:</b> <span id="property-owner">Raj Maharjan</span>
                        </div>
                    </form>
                </div>
            
            </div>
        </div>
        <script>
            var images = "{{ photo_link|safe }}";
            images_link_list = images.replaceAll(/\[|\]|\'/g,"").split(',');
            var advertisement = "{{ latest_upload|safe }}";
            advertisement_data = advertisement.replaceAll(/\[|\]/g,"").replaceAll(/}, {/g, "} , {").split(' , ');
            actual_advertisement = [];
            for(var i = 0; i<advertisement_data.length; i++){
                each_detail = advertisement_data[i].replaceAll(/}|{/g,"").split(", ");
                single_ads = [];
                for(var j = 0; j<each_detail.length;j++){
                    single_values = each_detail[j].replaceAll(/'/g,"").split(": ");
                    single_ads[single_values[0]] = single_values[1];

                }
                actual_advertisement[i] =  single_ads;
            }
            // console.log(actual_advertisement);
        </script>
{% endblock %}