{% extends 'base.html' %}
{% block content %}
<script src="{{ url_for('static', filename='./scripts/password.js') }}"></script>
		<div class="container-fluid login-signup-background">
			<div class="row align-items-center h-100">
				<div class="col-md-4 ml-5 p-4 rounded details-inserting-login-signup-area">
					<div class="login-signup-header border-bottom">
						<h3>SignUp</h3>
					</div>
					<div class="login-signup-body pt-3">
						<form method="POST" onsubmit="return checkpassword()">
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-user"></i></span>
								</div>
								<input type="text" name="username" value="{{ detail['username'] if (error_on != 'user' and detail['username']) else '' }}" required class="form-control {{'is-invalid' if error_on == 'user' }}" placeholder="Username" id="Username">
								{% if error_on == 'user' %}
									<div class="invalid-feedback">
										{{message}}
									</div>
								{% endif %}
							</div>
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-envelope"></i></span>
								</div>
								<input type="text" required name="emailid" value="{{ detail['email'] if error_on !='email' and detail['email'] }}" class="form-control {{'is-invalid' if error_on == 'email' }}" placeholder="EmailId" id="EmailId">
								{% if error_on == 'email' %}
									<div class="invalid-feedback">
										{{message}}
									</div>
								{% endif %}
							</div>
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
								</div>
								<input type="text" value = "{{ detail['mobile_number'] if error_on !='phone' and detail['mobile_number']}}" class="form-control {{'is-invalid' if error_on == 'phone' }}" name="phonenumber" required placeholder="Phone Number" id="PhoneNumber">
								{% if error_on == 'phone' %}
									<div class="invalid-feedback">
										{{message}}
									</div>
								{% endif %}
							</div>
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-lock"></i></span>
								</div>
								<input type="password" id="enterPassword" name="password" required placeholder="Password" class="form-control" aria-describedby="passwordHelpBlock">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary enterPassword" type="button" id="password-show" onclick="showPassword(this)"><i class="far fa-eye"></i></button>
								</div>
								<small id="passwordHelpBlock" class="form-text text-muted">
									Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
								</small>
								<div class="invalid-feedback">
									Passwords doesn't match
								</div>
							</div>
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-lock"></i></span>
								</div>
								<input type="password" id="ReenterPassword" required name="Repassword" placeholder="ReEnter Password" class="form-control" aria-describedby="passwordHelpBlock">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary ReenterPassword" type="button" id="repassword-show" onclick="showPassword(this)"><i class="far fa-eye"></i></button>
								</div>
								<small id="passwordHelpBlock" class="form-text text-muted">
									Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
								</small>
								<div class="invalid-feedback">
									Passwords Doesn't match
								</div>
							</div>
							<div class="form-group">
								<input type="submit" value="SignUp" class="btn btn-success" id="signup-button">
								<a href="{{ url_for('login') }}"><input type="button" value="Login" class="btn float-right btn-primary" id="login-request"></a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
{% endblock %}