@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* html, body{
	margin:0;
	padding:0;
	background-color: black;
	color: white;
	height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
/* For Navigation Bar*/
nav{
	margin:0;
}
.navbar{
    height:10vh;
    width:100%;
}
.navbar, .inside-navigation, #logoImg, .nav-link, .navbar-collapse{
	background-color: #122029;
}
.nav-link{
	color: white;
}
/* For Icons*/
.fas{
	color: white;
	background-color: inherit;
}
/* for Frontpage Image */
.cover-image {
	background-image: url("./img/cover.png");
	height: 90vh;
	width: 100%;
	padding:0;
	margin:0;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
/* for searching area */
.hero-text{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	border-radius: 33px;
	background-color: rgba(0, 0, 0, 0.9);
}
.location-searching{
	padding: 20px 20px 20px 20px;
}
.price-range-label{
	float: left;
}
.price-range{
	display: block;
	overflow: hidden;
}
.price-input{
	height: 4vh;
}
/* For Advertisement Area In Home Page */
.for-advertisement{
    height: 45vh;
    width: 80vw;
}
.advertisement-topic{
    text-decoration: underline;
    
}
.advertisment-container{
    background-color: rgba(196, 196, 196, 0.28);
    height: 35vh;
    width: 100%;
    border-radius: 23px;
}
.aligning-center{
    display: flex;
    align-items: center;
}
.advertisement-image-putting{
    background-color:white;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	align-items: center;
    height: 70%;
    max-width: 11vw;
    transition:0.3s;
    margin: 0 3%;
    padding:0;
    border-radius:23px;
}
.details{
    display: none;
}
.advertisement-image-putting:hover .details{
    display: flex;
    cursor: pointer;
    width:100%;
    height:100%;
    padding: 0px;
    padding-left: 10px;
    border-radius:23px;
    background-image: none;
    background-color: black;
}
/* For Details */
.simple-details{
	background-color: rgba(196, 196, 196, 0.1);
    height: 45vh;
    width:80vw;
    margin-bottom: 20px;
    border-radius: 23px;
    padding-top: 2%;
    text-align: justify;
    text-align-last: center;
}
.item-three{
    height: 33.33%;
}
.feature-icons{
    font-size: 3rem;
}
@include media-breakpoint-up(sm) {
    .simple-details {
        padding-top:2%;
    }
  .feature-icons {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(md) {
  .feature-icons {
    font-size: 1.3rem;
  }
    .simple-details {
        padding-top:3%;
    }
}

@include media-breakpoint-up(lg) {
  .feature-icons {
    font-size: 1.4rem;
  }
  
    .simple-details {
        padding-top:5%;
    }
} 
/* For Footer*/
.page-footer{
	background-color: rgba(196, 196, 196, 0.1);
    height: 45vh;
}
/* Renting Page */
.page-container{
    height:90vh;
}
.renting-page{
    height: 100%;
}
/* For left side Search Details */
.search-details{
    background-color: #20586B;
    padding-top: 10px;
}
.search-details-heading{
    text-decoration: underline;
}
/* For central content display ie. rented rooms */
.advertisement-showing-col{
    background-color:rgba(19, 34, 42, 0.81)
}
.page-choose{
    padding-left: 2%;
    height:10%;
    padding-bottom: 2%;
}
.top-page-choose{
    border-bottom: 1px solid white;
}
.bottom-page-choose{
    border-top: 1px solid white;
}
.horizontal-line{
    border-top: 1px solid white;
    height:1px;
}
.button-pages{
    padding-left: 1.25%;
}
.content-inside{
    height:80%;
}
.content-inside-row{
    height:33.33%;
}
.rent-ads-img{
    min-width:50%;
}
/* modal content*/
.modal{
    color:black;
}
.details-property{
    word-wrap: break-word;
}
.detail-heading{
    font-weight: bold;
}
/* Chatting area*/
.chatting-area{
    height:90vh;
}
.chatting-detail-area{
    height: 100%;
}
.chatting-page-container{
    height: 100%;
}
.chatting-detail-area{
    background-color: #1E1E1E;
    overflow-y: scroll;
}
.chatting-header{
    background-color: #1E1E1E;
    padding: 20px 0;
    border-bottom: 1px solid white;
}
@media only screen and (min-height: 768px){
    .chatting-header{
        height: 20%;
    }
}
@media only screen and (min-height: 1080px){
    .chatting-header{
        height: 15%;
    }
}

.header-content-chat-seperate{
    background-color:white;
}
.messages{
    cursor: pointer;
}
.new-messages-show{
    display: block;
}
#messages-show{
    height: 100%;
}
.messages{
    height:60px;
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 5px;
    border-bottom: 1px white solid;
}
.user-face{
    margin-top: 5px;
    font-size: 30px;
}
/* Chatting area*/
.chatting-message-section{
    height:90vh;
}
.chatting-to-user{
    background-color: #1E1E1E;
    height: 10%;
    padding-left: 20px;
    box-shadow: 0px 1px #666679;
}
#username-chatting{
    padding-left: 20px;
}
.chat-area{
    height: 80%;
    overflow-y: scroll;
}
.texting-area{
    height: 10%;
}
.message-box{
    align-items: baseline;
    height:50%;
    bottom:0;
}
.texting-details-send{
    background-color: #C4C4C4;
    color: black;
    padding-top: 20px;
}
.chatDetailsSendButton{
    margin-top: 20px;
    justify-content: center;
}
/* For Profile */
.profile-navigation-options{
    background-color: #535353;
    padding:20px 10px;
    border-radius: 10px;
}
.for-profile-details{
    padding: 20px;
    width:inherit;
}
.for-profile-details:hover{
    background-color: black;
    cursor: pointer;
}
#profile-Details{
    text-decoration: underline;
}
.all-profile-content{
    border: 1px solid white;
    padding:20px;
    margin-left: 50px;
    border-radius: 20px;
}
.my-account-features{
    padding:10px 0;
}
#change-password{
    padding-top:15px;
    padding-bottom: 15px;
}
#change-password:hover{
    cursor: pointer;
}
.profile-image{
    background-image: url("./img/no-image-icon-6.png");
    background-color:white;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
    align-items: center;
    margin-left: 10px;
    height: 100px;
    border-radius: 20px;;
}
.advertisement-upload-image{
    background-image: url("./img/no-image-icon-6.png");
    background-color:white;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
    align-items: center;
    margin-left: 10px;
    height: 87px;
    border-radius: 20px;;
}
.show-profile-header{
    height:10%;
}
.search-people{
    padding-bottom: 10px;
}
.people-show-container{
    height:80%;
}
.contacted-people-show{
    padding-bottom: 13px;
    padding-top: 13px;
}
.choose-next-page{
    height:10%;
}
.display-contacted-people-onclick{
    cursor: pointer;
}
#accountdetails{
    display: none;
}
#addadvertisement{
    display: none;
}
#contactedpeople{
    display: none;
}
#addingAdvertisement{
    display: none;
}
/* For Login/Signup Page */
.login-signup-background{
    background-image: url("./img/background.png");
	height: 90vh;
	width: 100%;
	padding:0;
	margin:0;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    overflow:hidden;
}
.details-inserting-login-signup-area{
    background-color: rgba(0, 0, 0, 0.6);
}
.input-group-prepend span{
    background-color:black;
    color: white;
    border:0 !important;
}
.input-group-text i{
    width:25px;
}