{% extends 'base.html' %}
{% block content %}
        <script src="{{ url_for('static', filename='./scripts/message.js') }}" type="text/javascript"></script>

        <!-- For Chatting area-->
        <div class="container-fluid page-container">
            <div class="row chatting-page-container">
                <div class="col-md-3 chatting-detail-area">
                    <div class="row chatting-header">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <h4>Chatting</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="EnterLocation" placeholder="Search For Messages" aria-label="Search For Messages" aria-describedby="button-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row new-messages-show">
                        <div class="col" id="messages-show">
                            <div class="row messages" id="message-1">
                                <i class="fas fa-user user-face"></i>
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            Username
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            Message
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row messages" id="message-2">
                                <i class="fas fa-user user-face"></i>
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            Username
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            Message
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 chatting-message-section">
                    <div class="row chatting-to-user">
                        <div class="col d-flex align-items-center">
                            <i class="fas fa-user user-face"></i>
                            <span id="username-chatting">Username</span>
                        </div>
                    </div>
                    <div class="row chat-area align-items-end">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                </div>
                            </div>
                            <div class="row justify-content-flex-end">
                                <div class="col">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row texting-area">
                        <div class="col align-items-center input-group">
                            <input type="text" class="form-control " id="message" placeholder="Type A Message" aria-label="Type A Message" aria-describedby="message-send">
                            <div class="input-group-append ">
                                <button class="btn btn-outline-secondary" type="submit" id="message-send"><i class="fas fa-paper-plane message-send-icon"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 texting-details-send" id="details-for-texting">
                </div>
            </div>
        </div>
        {% endblock %}