<!doctype html>
<html lang="en">
	<head>
		<title>Dehra</title>
		<meta charset="UTF-8">
		<meta name="viewreport" content="width=device-width, initial-scale=1.0">	
		<link rel="icon" href = "{{ url_for('static', filename='style/img/Logo.svg') }}" type = "image/svg">
        <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">       
		<link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/8d0d3d247a.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- For Navigation Bar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-inverse">
            <div class ="container-fluid inside-navigation">
                <a class="navbar-brand" href="{{url_for('index')}}"><img src="{{ url_for('static', filename='style/img/Logo.svg') }}" id="logoImg"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Rent</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Add Advertisement</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt"></i> Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-user"></i> Sign Up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
		<div class="container-fluid login-signup-background" >
			<div class="row align-items-center h-100">
				<div class="col-md-4 ml-5 p-4 rounded details-inserting-login-signup-area">
					<div class="login-signup-header border-bottom">
						<h3>Login</h3>
					</div>
					<div class="login-signup-body pt-3">
						<form method="POST">
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-user"></i></span>
								</div>
								<input type="text" class="form-control" required name="Username" placeholder="Username" id="Username" autofocus>
							</div>
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-lock"></i></span>
								</div>
								<input type="password" id="enterPassword" required name="Password" placeholder="Password" class="form-control" aria-describedby="passwordHelpBlock password-show">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary enterPassword" type="button" id="password-show" onclick="showPassword(this)"><i class="far fa-eye"></i></button>
								</div>
								<small id="passwordHelpBlock" class="form-text text-muted">
									Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
								</small>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
								<label class="form-check-label" for="defaultCheck1">
									Remember Me
								</label>
							</div>
							<div class="form-group">
								<input type="submit" value="Login" class="btn btn-success" id="login-request">
								<a href="{{ url_for('signup') }}"><input type="Button" value="SignUp" class="btn float-right btn-primary" id="signup-button"></a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<footer class="page-footer">

			<div class="container-fluid text-center text-md-left pt-4">
		
			<!-- Grid row -->
				<div class="row">
			
					<!-- Grid column -->
					<div class="col-md-5 mt-md-0 mt-3">
			
						<!-- Content -->
						<h5 class="text-uppercase">About Us</h5>
						<p>
							This project was initaited to solve the main 
							problem of renting rooms inside cities such as Kathmandu.
						</p>
			
					</div>
					<!-- Grid column -->
			
					<hr class="clearfix w-100 d-md-none pb-3">
			
					<!-- Grid column -->
					<div class="col-md-4 mb-md-0 mb-3">
			
					<!-- Links -->
						<h5 class="text-uppercase">Features</h5>
				
						<ul class="list-unstyled">
							<li>
							<a href="#!">Rent Rooms</a>
							</li>
							<li>
							<a href="#!">Add Advertisement</a>
							</li>
						</ul>
			
					</div>
					<!-- Grid column -->
			
					<!-- Grid column -->
					<div class="col-md-3 mb-md-0 mb-3">
						<h5 class="text-uppercase">Contact Us</h5>
						<div class="form-group">
							<input type="email" class="form-control form-control-sm" id="reviewEmail" placeholder="Email Address">
						</div>
						<div class="form-group">
							<textarea class="form-control form-control-sm" id="review" placeholder="Queries" rows="3"></textarea>
						</div>
						<button type="submit" class="btn btn-primary" id="query">Submit</button>
					</div>
					<!-- Grid column -->
			
				</div>
				<!-- Grid row -->
		
			</div>
			<!-- Footer Links -->
		
			<!-- Copyright -->
			<div class="footer-copyright text-center py-3">© 2020 Copyright:
			<a href="#">hamroDehra.com</a>
			</div>
			<!-- Copyright -->
		
        </footer>
	</body>
    <script src="{{ url_for('static', filename='./scripts/password.js') }}"></script>
    <script src="{{ url_for('static', filename='./scripts/modalData.js') }}" type="text/javascript"></script>
</html>