{% extends 'base.html' %}
{% block content %}
        <!-- For Main Body part of profile-->
        <div class="container-fluid page-container">
            <div class="row h-100 align-items-center">
                <div class="col-md-3 profile-navigation-options">
                    <h3 id="profile-Details">Profile</h3>
                    <div class="row for-profile-details" id="account-details">
                        <div class="col">
                            My Account
                        </div>
                    </div>
                    <div class="row for-profile-details" id="contacted-people">
                        <div class="col">
                            Contacted People
                        </div>
                    </div>
                    <div class="row for-profile-details" id="add-advertisement">
                        <div class="col">
                            Add Advertisement
                        </div>
                    </div>
                </div>
                <div class="col-md-8 container all-profile-content h-75" id = "accountdetails">
                    <form method="POST">
                    <div class="row">
                        <div class="col"><h4>Account Details</h4></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row my-account-features justify-items-center">
                                <div class="col-md-3 profile-image" id="profile-image">
                                </div>
                            </div>
                            <div class="row my-account-features">
                                <div class="col input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="profile-pic-upload">
                                        <label class="custom-file-label" for="profile-pic-upload">Choose file</label>
                                    </div>
                                </div>
                                    
                            </div>
                        </div>
                        <div class="col">
                            <div class="row my-account-features">
                                <div class="col">Username: <input class="form-control" name="Username" value="{{ session['username'] }}" type="text" placeholder="Username" id="username"></div>
                            </div>
                            <div class="row my-account-features">
                                <div class="col">Email: <input class="form-control" name="Email" value="{{ email }}" type="email" placeholder="Email Id" id="email"></div>
                            </div>
                            <div class="row my-account-features">
                                <div class="col">
                                    <label for="Enter Password">Enter Password</label>
                                    <div class="input-group">
                                        <input type="password" class="form-control enterPassword" name="password" id="enterPassword" placeholder="Enter Password" aria-label="Enter Password" aria-describedby="password-show">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary enterPassword" type="button" id="password-show" onclick="showPassword(this)"><i class="far fa-eye"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-account-features">
                                <div class="col" id="change-password"><button class="btn btn-secondary" type="button">Change Password</button></div>
                                <div class="col d-none" id="display-reenterPassword">
                                    <label for="Re-Enter Password">Re-Enter Password</label>
                                    <div class="input-group">
                                        <input type="password" class="form-control ReEnterPassword" name="ReEnterPassword" id="ReEnterPassword" placeholder="Re-Enter Password" aria-label="Re-Enter Password" aria-describedby="password-show">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary ReEnterPassword" type="button" id="Repassword-show" onclick="showPassword(this)"><i class="far fa-eye"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-md-3">
                            <button type="button" class="btn btn-danger">Delete Account</button>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </div>
                    </div>
                    
                    </form>
                </div>
                <div class="col-md-8 container all-profile-content h-75" id = "contactedpeople">
                    <div class="row border-bottom w-100 show-profile-header">
                        <div class="col"><h4>Contacted People</h4></div>
                    </div>
                    <div class="row people-show-container">
                        <div class="col" id = 'adding-contacted-people'>
                            
                        </div>
                    </div>
                    <div class="row choose-next-page border-top pt-2">
                        <div class="col-1 next-button">
                            <button type="button" class="btn btn-primary btn-sm" onclick="addContactedPeopleOnProfile(-1)"><i class="fas fa-chevron-left"></i></button>
                        </div>
                        <div class="col-10 d-flex justify-content-center" id="buttons-below">
                            
                        </div>
                        <div class="col-1 prev-button">
                            <button type="button" class="btn btn-primary btn-sm" onclick="addContactedPeopleOnProfile(1)"><i class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 container all-profile-content h-75" id = "addadvertisement">
                    <div class="row border-bottom w-100 show-profile-header">
                        <div class="col-9"><h4>Add Advertisementment</h4></div>
                        <div class="col-3"><button type="button" class="btn btn-primary btn-sm" onclick="adding_advertisement();">Add Advertisement</button></div>
                    </div>
                    <div class="row people-show-container">
                        <div class="col" id = 'adding-advertisement'>
                            
                        </div>
                    </div>
                    <div class="row choose-next-page border-top pt-2">
                        <div class="col-1 next-button">
                            <button type="button" class="btn btn-primary btn-sm" onclick="addAdvertisement(-1)"><i class="fas fa-chevron-left"></i></button>
                        </div>
                        <div class="col-10 d-flex justify-content-center" id="buttons-below">
                            
                        </div>
                        <div class="col-1 prev-button">
                            <button type="button" class="btn btn-primary btn-sm" onclick="addAdvertisement(1)"><i class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>

                </div>
                <div class="col-md-8 container all-profile-content h-75" id = "addingAdvertisement">
                    <form method="POST" id="Ads-adding" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col"><h4>Adding Advertisement</h4></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row my-account-features justify-items-center">
                                <div class="col-md-3 advertisement-upload-image" id="advertisement-upload-image"></div>
                            </div>
                            <div class="row my-account-features">
                                <div class="col input-group">
                                    <div class="custom-file">
                                        <input type="file" name="ads-photo" class="custom-file-input" required id="ads-pic-upload">
                                        <label class="custom-file-label" for="ads-pic-upload">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row my-account-features">
                                <div class="col">Property Type: <input class="form-control" required name="propertyType" type="text" placeholder="propertyType" id="propertyType"></div>
                                <div class="col">Property Address: <input class="form-control" required name="propertyAddress" type="text" placeholder="propertyAddress" id="propertyAddress"></div>
                            </div>
                            <div class="row my-account-features">
                                <div class="col">Room Count: <input class="form-control" required name="roomCount" type="text" placeholder="Room Count" id="roomCount"></div>
                                <div class="col">Price: <input class="form-control" required name="Price" type="text" placeholder="Price (in Rs.)" id="price"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-account-features">
                        <div class="col">Description<textarea id="description" name="description" class="form-control" row=2></textarea></div>
                        <div class="col">
                            <div class="row my-account-features">
                                <div class="col">WaterSource: <input class="form-control" required name="waterSource" type="text" placeholder="Water Source" id="waterSource"></div>
                                <div class="col">Bathroom: <input class="form-control" required name="bathroom" type="text" placeholder="Bathroom" id="bathroom"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-md-3 my-account-features">
                            <div class="col"><label class="form-check-label" for="terraceAccess">Terrace Access: </label><input class="form-control" name="terraceAccess" type="checkbox" id="terraceAccess"></div>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </div>
                    </div>
                    
                    </form>
                </div>
                
            </div>
        </div>
        <script>
            var contacted = '{{ contacted }}';
            contacted = contacted.replaceAll(/&#39;|\[|\]/g,"").split(',');
            var advertisement = '{{ ads }}';
            
        </script>
        <script src="{{ url_for('static', filename='./scripts/profile.js') }}" type="text/javascript"></script>	
        <script src="{{ url_for('static', filename='./scripts/password.js') }}"></script>
        {% endblock %}